<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1><%= @list.name %></h1>
  </div>

    <% if @bookmarks.any? %>
      <div class="cards">
        <% @bookmarks.each do |bookmark| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://www.pinterest.com/melodypeavey/2025-movies-shows/')">
            <ul>
              <li><%= bookmark.movie.title %></li>
              <li><%= bookmark.comment %></li>
              <li> <%= link_to 'Remove Movie', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'remove this list?'}  %></li>
            </ul>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No movies yet</p>
    <% end %>


  <%= link_to "Add Movie", new_list_bookmark_path(@list), class: "btn btn-success my-2 col-2" %>
  <%= link_to "Back", lists_path, class: 'btn btn-primary my-2 col-2' %>


  <%# <%= cl_image_tag @list.photo.key, width: x, height: x, crop: x %>
  <%#= cl_image_path @list.photo.key %>

</div>
