<div class="container p-2">
  <h1>New Bookmark</h1>
  <h3 class="fw-lighter">Add a Bookmark</h3>
  <!-- <form action="/bookmarks" method="post"> -->
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class: 'btn btn-success my-2 col-2' %>
  <% end %>
  <%= link_to "Home", lists_path, class: 'btn btn-primary my-2 col-2' %>
</div>
